html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
section {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}

#logo {
    height:100px;
}

header h1 {
    font-size:4em;
    font-weight:bolder;
}

.btn {
    margin: .25em;
}

figure {
    display: inline-block;
    position: relative;
    margin: .25em;
}

figure figcaption {
    position: absolute;
    top: .5em;
    left: .5em;
    font-weight: bolder;
    color: white;
}

#showRatings {
    margin: .25em;
}

#pictures img {
    max-width: 300px;
}